<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>679967444799-um6os6lgbkv6hj84fgafvdn53hdpv3qn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.679967444799-um6os6lgbkv6hj84fgafvdn53hdpv3qn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>679967444799-6a7tl4l6f7tdc5q6s4760d7mjo08v93e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCbZPtpWo1PT4_MNY6SesNMUrbO8tCKj8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>679967444799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.signimus.ziggly.mysalon</string>
	<key>PROJECT_ID</key>
	<string>ziggly-60826</string>
	<key>STORAGE_BUCKET</key>
	<string>ziggly-60826.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679967444799:ios:8a3da18e961b85e55c4d8a</string>
</dict>
</plist>